@font-face {
    font-family: '8bitoperator JVE';
    src: url('8bitoperator-JVE.woff2') format('woff2'),
        url('8bitoperator-JVE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

